.memBar {
  width: 300px;
  height: 1250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #921010;
}

.memBtnTop {
  font-size: 26px;
  font-weight: bolder;
  border-radius: 20px;
  width: 260px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #fff3e7;
  border: 3px solid #fcc8a1;
  gap: 20px;
}

.memBtn {
  font-size: 22px;
  font-weight: 800;
  color: #921010;
  border: 2px solid #921010;
  background-color: transparent;
  border-radius: 20px;
  width: 260px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  transition: all 0.1s ease-in;
}

.memBtn:hover {
  font-size: 26px;
  font-weight: 800;
  border-radius: 20px;
  background-color: #fff3e7;
  border: 3px solid #fcc8a1;
}

.memImgBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  float: left;
  width: 100%;
}

.memImg {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: rgb(203, 203, 203);
  margin-bottom: 15px;
  border: 3px solid #fcc8a1;
  position: relative;
  top: -35px;
}

.memImg:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in;
}

.memEmail {
  font-size: 16px;
  color: #921010;
  position: relative;
  top: 40px;
}

.memText {
  color: #921010;
  position: relative;
  top: 20px;
  width: 220px;
  text-align: center;
  overflow: hidden;
}

.achImg {
  width: 120px;
  height: 120px;
  float: left;
  position: relative;
  overflow: visible;
  margin-top: 10px;
  margin-bottom: 10px;
}

.achImg:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 391px) {
  .memBar {
    width: 100%;
    height: 60px;
    flex-direction: row;
    padding: 0;
    position: relative;
    top: 30px;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 60px;
  }

  .memBtnTop {
    display: none;
  }

  .memBtn {
    width: 60px;
    font-size: 12px;
    margin: 0;
    height: 45px;
  }

  .memBtn:hover {
    font-size: 13px;
    font-weight: bolder;
    border-radius: 20px;
    background-color: #fff3e7;
    border: #921010 2px solid;
    height: 45px;
  }
}
