.main {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
}

.main2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 65px;
  padding-inline: 20px;
}

.main3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding-inline: 15px;
}

.left {
  width: 40%;
  height: 210;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  width: 60%;
  height: 210;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 18px;
  gap: 20px;
}

.img {
  border-radius: 15px;
  overflow: hidden;
}

.star {
  cursor: pointer;
  transition: transform 0.1s;
}

.star:hover {
  transform: scale(1.1);
}

.starArea {
  display: flex;
  margin-top: 70px;
  margin-bottom: 30px;
  padding-right: 15px;
  width: 100%;
  justify-content: flex-end;
  gap: 2px;
}

.card {
  width: 100%;
}

.little {
  width: 200px;
}

@media screen and (max-width: 391px) {
  .main {
    width: 100%;
    height: 250px;
    position: relative;
    gap: 20px;
    font-size: 14px;
    justify-content: center;
  }
  .main2 {
    width: 100%;
  }

  .img {
    width: 100px;
    height: 50px;
    object-fit: cover;
    /* position: absolute;
    left: 50px; */
  }

  .img > * {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .left {
    width: 100px;
    margin-left: -5px;
    margin-right: 10px;
  }
  .right {
    width: 100%;
  }
}
