.memBar {
  background-color: #fcc8a1;
  width: 300px;
  height: 1150px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 50px;
  /* border: 3px solid #921010; */
  box-shadow: inset -5px -5px 5px rgba(123, 123, 123, 0.5);
}

.memBtnTop {
  font-size: 27px;
  font-weight: bolder;
  background-color: #fefdfb;
  box-shadow: inset 3px 3px 3px rgba(40, 40, 40, 0.5);
  border-radius: 20px;
  width: 260px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.memBtn {
  font-size: 22px;
  font-weight: 800;
  color: #921010;
  background-color: #fcc8a1;
  border-radius: 20px;
  width: 260px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  transition: all 0.2s ease-in;
}

.memBtn:hover {
  font-size: 24px;
  font-weight: 800;
  color: white;
  background-color: #921010;
  border-radius: 20px;
  width: 260px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: inset -15px -15px 12px rgba(0, 0, 0, 0.5);
  border: 0;
  transition: all 0.2s ease-in;
}

.memImgBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  float: left;
  width: 100%;
}

.memImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(203, 203, 203);
  margin-top: 50px;
}

.memEmail {
  font-size: 16px;
  color: #921010;
}

.memText {
  color: #921010;
  margin-bottom: 10px;
}

.achImg {
  width: 70px;
  height: 70px;
  float: left;
  position: relative;
  overflow: visible;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
}
