.listflex {
  display: flex;
  margin-bottom: 50px;
}

.listtag {
  font-size: 24px;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #921010;
  font-weight: 900;
  margin-right: 30px;
}

.listcontent {
  font-size: 18px;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  font-weight: 900;
  border: #921010 2px solid;
  padding-left: 20px;
  overflow: hidden;
}

.listbtn {
  width: 60px;
  height: 45px;
  background-color: #fece4b;
  border: none;
  border-radius: 15px;
  font-weight: 900;
  box-shadow: inset -5px -5px 5px rgba(126, 95, 51, 0.6);
  transition: all 0.1s ease-in;
}

.listbtn:hover {
  background-color: #ffe291;
}

.listinput {
  border: none;
  outline: none;
  width: 100%;
  height: 80%;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 900;
}
