.scrollCard:hover {
  background-color: #fff8e1;
}

.scrollCard {
  width: 100%;
  height: 70px;
  box-shadow: 0px 5px 2px rgba(123, 123, 123, 0.5);
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: marquee-vertical 7s infinite linear;
  font-size: 20px;
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-640%);
  }
}

.link {
  text-decoration: none; /* 移除底線 */
  color: inherit; /* 繼承父元素的顏色 */
}
