.btn {
  width: 200px;
  height: 50px;
  margin: 30px;
  border: none;
  border-radius: 15px;
  background-color: #c7c7c7;
  border: 3px solid rgba(123, 123, 123, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #e3e3e3;
}
