.area1 {
  font-size: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: #ffffff;
  overflow: hidden;
  border: 2px solid #921010;
  margin-bottom: 60px;
  font-weight: 800;
  margin-top: 40px;
}

.area2 {
  font-size: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid #921010;
  margin-bottom: 60px;
  font-weight: 800;
  margin-top: 40px;
}

.scrollArea {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-bottom: 2px solid #921010;
}

.scroll {
  width: 100%;
  height: 100%;
}
