.area1 {
  font-size: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  font-weight: 800;
  border: 2px solid #921010;
  border-radius: 15px;
  padding: 10px;
  margin-top: 40px;
  background-color: #ffffff;
}

.area2 {
  font-size: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  font-weight: 800;
  overflow: hidden;
}

.scroll {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.scroll > * {
  flex-basis: calc(50% - 40px); /* 調整寬度以適應間距 */
  margin: 20px; /* 設定卡片間的間距 */
}

.scrollCard2 {
  width: 100%;
  height: 70px;
  box-shadow: 0px 5px 2px rgba(123, 123, 123, 0.5);
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll::-webkit-scrollbar-track {
  background: transparent; /* 設置捲軸軌道背景色 */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: transparent; /* 設置捲軸滑塊顏色 */
}

.title {
  width: 100%;
  height: 50px;
  background-color: #921010;
  color: white;
  font-size: 22px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.recordBox {
  width: 100%;
  border-radius: 15px;
  border: 2px solid #921010;
  overflow: hidden;
  margin-top: 20px;
}

@media screen and (max-width: 391px) {
  .flexArea {
    width: 90%;
  }

  .scroll > * {
    flex-basis: calc(100%); /* 調整寬度以適應間距 */
    margin: 15px; /* 設定卡片間的間距 */
  }
}
