.memForm {
    border: 2px solid #921010;
    width: 600px;
    height: 800px;
    padding: 50px;
    border-radius: 20px;
  }
  
  .formArea {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .head {
    padding: 0px;
    width: 800px;
    height: 50px;
    color: #921010;
    border-bottom: 3px solid #921010;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }
  