.map_container {
    width: 100%;
    height: 100vh;
}

.sausageLeft {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: scale(0.5);
    /* z-index: 2; */
}

.sausageRight {
    position: absolute;
    top: 0px;
    left: 300px;
    transform: scale(0.5);
    /* z-index: 2; */
}

.inputBox {
    position: absolute;
    top: 26.4px;
    left: 120px;
    /* z-index: 1; */
    background-color: rgba(255, 255, 255, 0.75)
}

.mapLabel {
    background-color: rgba(250, 179, 179, 0.75);
    font-family: var(--ff1) !important;
    font-size: var(--h7) !important;
    color: var(--main-color) !important;
    border-radius: 10px;
    padding: 0px 10px;
    border: 3px solid var(--main-color);
    transform: scale(0.7);
}

.userLabel {
    background-color: rgba(255, 179, 39, 0.75);
    font-family: var(--ff1) !important;
    font-size: var(--h7) !important;
    color: rgba(255, 255, 255) !important;
    text-shadow: 0 0 5px rgb(255, 119, 22);
    border-radius: 10px;
    padding: 0px 10px;
    border: 3px solid rgb(255, 119, 22);
}

.userLabel_small {
    background-color: rgba(255, 179, 39, 0.75);
    font-family: var(--ff1) !important;
    font-size: var(--h7) !important;
    color: rgba(255, 255, 255) !important;
    text-shadow: 0 0 5px rgb(255, 119, 22);
    border-radius: 10px;
    padding: 0px 10px;
    border: 3px solid rgb(255, 119, 22);
    transform: scale(0.8);
}

.walkbag {
    position: absolute;
    right: 100px;
    bottom: 50px;
    cursor: pointer;
}

.walkbag:hover {
    filter: invert(81%) sepia(83%) saturate(5562%) hue-rotate(290deg) brightness(102%) contrast(98%);
}

.buyforme_hint {
    position: absolute;
    right: 80px;
    bottom: 240px;
    border-radius: 15px;
    border: 2px solid var(--main-color);
    padding: 10px 20px;
    font-size: var(--h5);
    color: var(--main-color);
    font-family: var(--ff1);
    background-color: white;
}



.buyforme_hint::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top-color: var(--main-color);
    border-bottom: 0;
    border-right: 0;
    margin-right: 50px;
    margin-bottom: -30px;
}

.buyforme_hint_active {
    display: none;
    position: absolute;
    right: 80px;
    bottom: 240px;
    border-radius: 15px;
    border: 2px solid var(--main-color);
    padding: 10px 20px;
    font-size: var(--h5);
    color: var(--main-color);
    font-family: var(--ff1);
}

.buyforme_infobox {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    right: 150px;
    bottom: 110px;
    width: 920px;
    background: #ffffff;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    animation: show_buyforme ease-in-out 0.5s forwards;
    overflow: hidden;
    padding: 20px;
}


.buyforme_infobox_hide {
    display: none;
}

@keyframes show_buyforme {
    0% {
        height: 50px;
    }

    100% {
        height: 400px;
    }
}

.buyforme_tablebox {
    width: 100%;
    border: 0.5px solid var(--main-color);
    border-radius: 10px;
    overflow-y: scroll;
    padding: 0px 20px;
}

.buyforme_tablebox::-webkit-scrollbar {
    width: 18px;
}

.buyforme_tablebox::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
}

.buyforme_tablebox::-webkit-scrollbar-track-piece {
    background: transparent;
}

.buyforme_tablebox::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: var(--main-color);
    border: 5px white solid;
    background-clip: padding-box;
}

.buyforme_tabletitle {
    font-size: var(--h4);
    color: var(--main-color);
    font-family: var(--ff1);
    border-bottom: 2px solid var(--main-color);
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    /* letter-spacing: 30px; */
}

.buyforme_table th {
    position: sticky;
    top: 0;
    vertical-align: middle;
    color: var(--main-color);
    font-family: var(--ff1);
}


.buyforme_table>thead>tr {
    height: 45px;
    position: relative;
}


.buyforme_table {
    text-align: center;
    vertical-align: middle;
}


.buyforme_table th,
.buyforme_table td {
    font-size: var(--h8);
    font-weight: 600;
}

.buyforme_table .overlength_td {
    font-size: var(--h9);
}

.meet_place_td:hover {
    background-color: var(--sub-color);
    color: white;
    cursor: pointer;
}

.nogroup {
    font-size: var(--h4);
    color: var(--main-color);
    font-family: var(--ff1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(250, 179, 179, 0.3);
    border-radius: 15px;
}

.chat_inputbtn {
    font-size: var(--h2);
    color: var(--main-color);
    position: absolute;
    bottom: 52px;
    left: 180px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 5px #999;
    cursor: pointer;
}

.chat_inputbtn:hover {
    background-color: #e0e0e0;
}

.chat_inputbox {
    position: absolute;
    bottom: 51px;
    left: 190px;
    background-color: white;
    padding: 5px 30px 5px 50px;
    border-radius: 30px;
}

.switch_box {
    position: absolute;
    top: 10px;
    right: 60px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 30px;
    padding: 3px 0;
}




/* ---------chatbox_infowindow----------- */


.chatbox_message {
    margin-right: 20px;
}




/* ---------shop_infowindow----------- */

.shop_infowindow_title {
    width: 530px;
    font-size: var(--h3);
    text-align: center;
    background-color: var(--main-color);
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px 10px 0 10px;
}

.shop_infowindow_description {
    font-size: var(--h6);
    font-family: var(--ff3);
    font-weight: 600;
    padding: 10px 15px;
    margin-bottom: 30px;
    width: 530px;
    background-color: var(--main-color);
    color: white;
}

.shop_infowindow_img_box {
    width: 530px;
    height: 300px;
    background-size: cover;
    background-position: center;
    padding: 15px;
    background-color: var(--main-color);
}

.shop_infowindow_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.shop_infowindow_btn_box{
    width: 530px;
}

.shop_infowindow_btn {
    background-color: var(--main-color) !important;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: var(--h7);
    font-family: var(--ff2);
    margin: 10px 0 20px 390px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgb(176, 176, 176);
}

.shop_infowindow_btn:hover {
    background-color: var(--sub-color) !important;
    color: white;
}

.shop_infowindow_tag_star {
    display: flex;
    align-items: center;
    width: 530px;
    background-color: var(--main-color);
    padding: 0 15px;
}

.shop_infowindow_tag {
    background-color: var(--sub-color);
    padding: 0 10px;
    margin-left: 20px;
    border-radius: 20px;
}

.shop_infowindow_star {
    color: gold;
    display: flex;
    align-items: center;
}

.shop_infowindow_review_box {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 10px;
    width: 530px;
    display: flex;
}

.shop_infowindow_review {
    width: 400px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
}

.shop_infowindow_review_img {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 20px 10px 10px;
}

.star_img {
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 5px;
}



/* -----------------------------RWD----------------------------- */
@media screen and (max-width: 1080px) {
    .buyforme_infobox {
        right: 10px;
        bottom: 150px;
        width: 800px;
        padding: 20px;
    }

    .buyforme_tablebox {
        width: 100%;
        padding: 0px 0px;
    }

    .buyforme_table {
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }
}

@media screen and (max-width: 768px) {

    .buyforme_infobox {
        right: 10px;
        bottom: 220px;
        width: 600px;
        padding: 20px;
    }

    .buyforme_tablebox {
        width: 100%;
        padding: 0px 0px;
    }

    .buyforme_table {
        width: 150%;
        text-align: center;
        vertical-align: middle;
    }
}



@media screen and (max-width: 576px) {

    .sausageLeft {
        position: absolute;
        top: -20px;
        left: -26px;
        transform: scale(0.4);
    }

    .sausageRight {
        position: absolute;
        top: -20px;
        left: 220px;
        transform: scale(0.4);
    }

    .inputBox {
        position: absolute;
        top: 6.4px;
        left: 68px;
        background-color: rgba(255, 255, 255, 0.75);
        transform: scale(0.8);
    }

    .switch_box {
        position: absolute;
        top: 60px;
        right: auto;
        transform: scale(0.7);
    }

    .walkbag {
        right: 50px;
        bottom: 20px;
        transform: scale(0.7);
    }

    .buyforme_hint {
        position: absolute;
        right: 25px;
        bottom: 170px;
        transform: scale(0.7);
    }

    .chat_inputbtn {
        bottom: 35px;
        left: 110px;
        transform: scale(0.8);
    }

    .chat_inputbox {
        position: absolute;
        bottom: 35px;
        left: 86px;
        background-color: white;
        padding: 5px 30px 5px 60px;
        border-radius: 30px;
        transform: scale(0.78);
    }

    
    .buyforme_infobox {
        right: 0px;
        bottom: 90px;
        width: 400px;
        padding: 20px;
    }

    .buyforme_tablebox {
        width: 100%;
        padding: 0px 0px;
    }

    .buyforme_table {
        width: 150%;
        text-align: center;
        vertical-align: middle;
    }
}