.cardbody{
    background-color: #fff;
}
.ptext{
    font-size: var(--h7);
    padding-top: 10px;
    overflow: hidden;
    width: 100%;
}
.card{
    height: 200px;
    overflow: hidden;
}
.card img{
width: 100%;
height: auto;
}
.ptext:hover{
    /* text-decoration: underline; */
    color:var(--main-color)
}
.img{
    height: 380px;
    width: 200px;
}
/* 假設有一個包含這組按鈕的容器 div，假設 class 為 pagination-container */
.pagination-container {
    display: flex;
    justify-content: center; /* 將子元素置中對齊 */
    align-items: center; /* 將子元素垂直置中對齊 */
  }
  
  /* 或是直接將 .pagination 設定為 flex container */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 按鈕之間的間距 */
  .pagination> button {
    margin: 0 5px;
    background-color:var(--main-color) !important; 
    border: 0;
  }
 