.rightArea {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px;
  border: 2px solid #921010;
}

.content {
  width: 50px;
  height: 50px;
  background-color: #fefdfb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  font-weight: 900;
  box-shadow: inset 3px 3px 3px rgba(65, 21, 21, 0.6);
  padding-left: 20px;
}

.flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 60px;
  align-items: center;
}

.imgflex {
  display: flex;
}

.box {
  font-size: 18px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-radius: 15px;
  overflow: visible;
  margin-top: 5px;
}

.img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 15px;
  border: 7px solid #fcc8a1;
}

.btn {
  position: relative;
  left: -60px;
  top: 240px;
  height: 67px;
  width: 67px;
  border-radius: 50%;
  border: none;
  background-color: #fcc8a1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in;
}

.uploadInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.imgbox {
  border: 7px solid #fcc8a1;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  font-size: 24px;
  font-weight: 600;
  box-shadow: inset 3px 3px 3px rgba(65, 21, 21, 0.6);
}

.listflex {
  display: flex;
  margin-bottom: 50px;
}

.listtag {
  font-size: 24px;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #921010;
  font-weight: 900;
  margin-right: 30px;
}

.listcontent {
  font-size: 18px;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  font-weight: 900;
  border: #921010 2px solid;
  padding-left: 20px;
}

.listbtn {
  width: 60px;
  height: 45px;
  background-color: #fece4b;
  border: none;
  border-radius: 15px;
  font-weight: 900;
  box-shadow: inset -5px -5px 5px rgba(126, 95, 51, 0.6);
  transition: all 0.1s ease-in;
}

.listbtn:hover {
  background-color: #ffe291;
}

.listinput {
  border: none;
  outline: none;
  width: 100%;
  height: 80%;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 900;
}

.imgbig {
  object-fit: cover;
}

@media screen and (max-width: 391px) {
  .rightArea {
    width: 90%;
    overflow: hidden;
    padding-top: 50px;
    padding-inline: 20px;
  }

  .img {
    width: 150px;
    height: 150px;
    position: relative;
    left: 10px;
  }

  .imgbig {
    width: 170px;
    height: 170px;
  }

  .btn {
    position: relative;
    left: -20px;
    top: 122px;
    width: 40px;
    height: 40px;
  }

  .imgsmall {
    width: 40px;
    height: 40px;
  }

  .box {
    width: 100px;
    height: 100px;
    position: relative;
    left: 8px;
  }

  .flex {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .achieveBox {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .achBtn {
    height: 35px;
    width: 50px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 35px;
    top: -15px;
  }
}
