/*所有頁面都會用到的*/
.body {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-family: var(--ff1);
}

.container {
  width: 75%;
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 100%;
  margin-bottom: 50px;
}

.rightArea {
  width: 1000px;
  height: 100%;
  font-weight: 800;
  margin-bottom: 50px;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;
}

.flex2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.bigBox {
  font-size: 18px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 10px solid #fcc8a1;
  border-radius: 15px;
  background-color: #fefdfb;
  box-shadow: inset 2px 2px 2px rgba(123, 123, 123, 0.7);
  overflow: hidden;
  margin-top: 60px;
}

.default {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border: #911010 2px solid;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 5px;
}

.box {
  font-size: 18px;
  width: calc(50% - 30px);
  height: 400px;
  display: flex;
  flex-direction: column;
  border: 10px solid #fcc8a1;
  border-radius: 15px;
  background-color: #fefdfb;
  box-shadow: inset 2px 2px 2px rgba(123, 123, 123, 0.7);
  overflow: hidden;
  margin-top: 60px;
}

.title {
  width: 100%;
  height: 50px;
  background-color: #921010;
  color: white;
  font-size: 22px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/*信用卡會用到的*/
.package {
  width: 550px;
  height: 320px;
  background-image: url('/member/credit_card.png');
  background-size: cover;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 800;
  box-shadow: inset -2px -2px 3px rgba(65, 65, 65, 0.5);
  animation: rotateZAnimation 1.5s ease-in-out;
}

@keyframes rotateZAnimation {
  0% {
    transform: perspective(500px) rotateY(0deg) scale(0.3);
  }

  100% {
    transform: perspective(800px) rotateY(360deg) scale(1);
  }
}

.packDown {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.packageMoney {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.packageImg {
  margin-left: 20px;
  margin-right: 50px;
}

.packageBtn {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  width: 100px;
  height: 60px;
  text-align: center;
  border-radius: 15px;
  font-size: 16px;
  padding: 2px;
  /* padding-bottom: 7px; */
  background-color: #ffedcc;
  border: none;
  box-shadow: inset -5px -5px 7px rgb(166, 139, 104);
}

.packageBtn:hover {
  background-color: #fff3de;
  transform: scale(1.1);
  transition: all 0.1s ease-in;
  /* color: #921010; */
}

.default {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border: #911010 2px solid;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 5px;
}

/*輪播牆會用到的*/
.carousel {
  font-size: 18px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 50px;
  padding: 15px;
}

.scroll2 {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  background-color: #ffffff;
  border: 2px solid #921010;
  border-radius: 15px;
}

.scroll {
  height: 100%;
  width: 100%;
}

.scroll::-webkit-scrollbar {
  width: 0; /* 設置捲軸寬度 */
}

.scroll::-webkit-scrollbar-track {
  background: transparent; /* 設置捲軸軌道背景色 */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: transparent; /* 設置捲軸滑塊顏色 */
}

/*表單會用到的*/

@media screen and (max-width: 391px) {
  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
  }

  .rightArea {
    width: 100%;
    height: 100%;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex {
    width: 90%;
    flex-direction: column;
    margin-bottom: 5px;
  }

  .package {
    width: 300px;
    height: 170px;
    margin-top: 20px;
    padding: 15px;
  }

  .flex2 {
    font-size: 12px;
    height: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .packageMoney {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .packageImg {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  .packageBtn {
    width: 60px;
    height: 40px;
    font-size: 12px;
    position: relative;
    left: 15px;
    top: 30px;
  }

  .imgRWD1 {
    position: relative;
    left: 65px;
    width: 200px;
    height: 200px;
  }

  .imgRWD2 {
    display: none;
  }
}
