.body {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 100px;
  font-family: var(--ff1);
}

.area1 {
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  font-weight: 800;
  margin-top: 60px;
  height: 600px;
}

.area2 {
  font-size: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 2px solid #921010;
  margin-bottom: 60px;
  font-weight: 800;
  margin-top: 40px;
  height: 450px;
  background-color: #fff;
}

.scrollArea {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  padding: 15px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.scrollArea2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-bottom: 2px solid #921010;
  padding: 15px;
  margin: 10px;
}

.scroll {
  width: 99%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 1px;
  border-radius: 7px;
  margin-bottom: 5px;
}

.scroll::-webkit-scrollbar {
  width: 3px; /* 設置滾輪寬度 */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #aeaeae; /* 設置滾輪顏色 */
}

.scroll2 {
  width: 99%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 1px;
  border-radius: 7px;
  margin-bottom: 5px;
}

.scroll2::-webkit-scrollbar {
  width: 3px; /* 設置滾輪寬度 */
}

.scroll2::-webkit-scrollbar-thumb {
  background-color: #aeaeae; /* 設置滾輪顏色 */
}

.animateArea {
  width: 100%;
  height: 120px;
  position: relative;
  margin-bottom: -20px;
  padding-left: 20px;
}

.animate {
  width: 80px;
  height: 80px;
  object-fit: cover;
  position: absolute;
  animation: moveAndFlip 16s infinite;
}

@keyframes moveAndFlip {
  0% {
    transform: translateX(0) scaleX(1);
    top: -5px;
  }
  10% {
    transform: translateX(50px) scaleX(1);
    top: 5px;
  }
  20% {
    transform: translateX(100px) scaleX(1);
    top: -5px;
  }
  30% {
    transform: translateX(150px) scaleX(1);
    top: 5px;
  }
  40% {
    transform: translateX(200px) scaleX(1);
    top: -5px;
  }
  50% {
    transform: translateX(250px) scaleX(1);
    top: 5px;
  }
  51% {
    transform: translateX(247px) scaleX(-1);
    top: 5px;
  }
  60% {
    transform: translateX(200px) scaleX(-1);
    top: -5px;
  }
  70% {
    transform: translateX(150px) scaleX(-1);
    top: 5px;
  }
  80% {
    transform: translateX(100px) scaleX(-1);
    top: -5px;
  }
  90% {
    transform: translateX(50px) scaleX(-1);
    top: 5px;
  }
  99% {
    transform: translateX(2px) scaleX(-1);
    top: -5px;
  }
  100% {
    transform: translateX(0) scaleX(1);
    top: -5px;
  }
}

.animate2 {
  width: 80px;
  height: 80px;
  object-fit: cover;
  position: absolute;
  animation: moveAndFlip2 16s infinite;
}

@keyframes moveAndFlip2 {
  0% {
    transform: translateX(0) scaleX(1);
    top: 5px;
  }
  10% {
    transform: translateX(50px) scaleX(1);
    top: -5px;
  }
  20% {
    transform: translateX(100px) scaleX(1);
    top: 5px;
  }
  30% {
    transform: translateX(150px) scaleX(1);
    top: -5px;
  }
  40% {
    transform: translateX(200px) scaleX(1);
    top: 5px;
  }
  50% {
    transform: translateX(250px) scaleX(1);
    top: -5px;
  }
  51% {
    transform: translateX(247px) scaleX(-1);
    top: -5px;
  }
  60% {
    transform: translateX(200px) scaleX(-1);
    top: 5px;
  }
  70% {
    transform: translateX(150px) scaleX(-1);
    top: -5px;
  }
  80% {
    transform: translateX(100px) scaleX(-1);
    top: 5px;
  }
  90% {
    transform: translateX(50px) scaleX(-1);
    top: -5px;
  }
  99% {
    transform: translateX(2px) scaleX(-1);
    top: 5px;
  }
  100% {
    transform: translateX(0) scaleX(1);
    top: 5px;
  }
}

.animate:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 391px) {
  .actArea {
    width: 90%;
  }

  .scrollBtn {
    font-size: 12px;
  }

  .animate {
    animation: none;
    transform: none;
    position: relative;
    /* display: none; */
  }

  .animate2 {
    animation: none;
    transform: none;
    position: relative;
    /* display: none; */
  }

  .animateArea {
    /* display: none; */
    width: 360px;
    overflow: hidden;
    padding-left: 10px;
  }

  .actArea {
    height: 100%;
  }
}
