.line{
    border-left: 6px solid var(--main-color);
    padding-left: 30px;
    margin-top: 20px;
    
}
.title{
    font-size: var(--h3);
    font-weight: bold;
}
.ptext{
    font-size: var(--h6);
    font-weight: bold;
    margin-top: 30px;
}
.container1{
  display: flex;

}
.img{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.ptext3{
    padding-top: 10px;
}