.buttonContainer{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    box-sizing: border-box;
    height: 640px;
    margin-top: 40px;
}
.errorheader{
color:red;
}
.errorcontainer{
   margin-bottom: 20px;
}
.input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.text{
    font-size: var(--h6);
    margin-top: 30px;
    font-family: var(--ff2);
}

.line{
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;

}
.kanban{
    background-color: var(--main-color);
    color: white;
    font-size: var(--h7);
    font-weight: bold;
    padding: 5px 10px;



}
.input1{
    margin-top: 20px;
    border: 1px solid gray;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin-bottom: 8px;
}
.input1:focus{
    margin-top: 20px;
    border: 2px solid var(--main-color);
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    margin-bottom: 8px;

}
.input2{
border: 1px solid gray;
border-radius: 5px;
width: 100%;
height: 400px;
background-color: transparent;
padding: 10px;
resize: none;
}
.input2:focus{
    border: 2px solid var(--main-color);
    border-radius: 5px;
    width: 100%;
    height: 400px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    }
.addbtn{
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    font-size: var(--h7);
    width: 100px;
    height: 40px;
    border: 0;
    font-family: var(--ff2);
}
.cancel{
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    border: 0;
    font-size: var(--h7);
    font-family: var(--ff2);
}
.icon{
    width: 30px;
    /* margin-top: 10px; */
}
.buttonContainer input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
.end{
    display: flex;
    justify-content: flex-end;
}
.between{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.btn {
    background: linear-gradient(45deg, var(--main-color) 100%, #FF8E53 0%);
    border-radius: 45px ;
    border: 0 ;
    padding: 10px 20px;
    box-shadow: 0 1px 3px 1px #b1b1b1;
}

.btn:hover {
    background: linear-gradient(45deg, var(--sub-color) 100%, #FF8E53 0%);
}


.btn_text {
    color: white;
    font-size: var(--h7);
}
.container{
    width: 75%;
    margin: 0 auto;
    box-sizing: border-box;
    height: 650px;
}

