.top{
    margin-top: 40px;
}
.vatar{
    width: 32px;
    height: 32px;
    background-color: red;
    border-radius: 50%;
    margin-top: 40px;
}
.ptext{
    font-size: var(--h4);
    font-weight: bold;
    margin-top: 10px;
}
.img{
    width: 50%;
    height:50%;
    
}