.top{
    margin-top: 40px;
}
.flex{
    display: flex;
}
.nickname{
    margin-top: 20px;
    font-family: var(--ff2);
    font-size: var(--h5);
}
.imgcontainer{
     object-fit:contain;
     width: 100%;
     display: flex;
}
.avatar{
    background-color: red;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
    overflow: hidden;
    object-fit: cover;
}

.avatar img{
    width: 100%;
    height: 100%;
}
.ptext{
    font-size: var(--h4);
    font-weight: bold;
    margin-top: 10px;
}
.img{
    width: 600px;
    height:600px;
    margin-bottom: 20px;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.pcontainer{
    width: 300px;

}
@media screen and (max-width:767px) {
    .container{
        width: 100%;
    }
    .img{
        width: 390px;
        height:300px;
    }
    .imgcontainer{
        object-fit:contain;
        
        display: block;
   }
   .pcontainer{
    

}
    
}