.ptext{
    font-size: var(--h7);
    
    letter-spacing: 5px;
    white-space: pre;
    margin-bottom: 40px;
    margin-left: 80px;
    line-height:1.5;
    
    
}
@media screen and (max-width:767px) {
    .ptext{
        font-size: var(--h8);
    }
    
}