.ptext{
    font-size: var(--h6);
    letter-spacing: 6px;
    white-space: pre-line;
    margin-bottom: 40px;
    font-family: var(--ff3);
    line-height:1.2;
    width: 430px;
  
    
}
@media screen and (max-width:767px) {
    .ptext{
        font-size: var(--h8);
    }
    .ptext{
        font-size: var(--h7);
        letter-spacing: 5px;
        white-space:pre-wrap;
        margin-bottom: 40px;
        margin: 0;
        line-height:1.5;
        width: 350px;
    }
    
}