
.form {
    display: flex;
    margin-top: 20px;
  }
  .avatar{
    background-color: red;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    overflow: hidden;
    object-fit: cover;
    
  }

.avatar img{
    width: 100%;
    height: 100%;
}
  
  .inputContainer {
    position: relative;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
  }
  
  .input {
    padding: 10px 40px 10px 10px; 
    border: 1px solid var(--main-color);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
  }
  .iconButton {
    position: absolute;
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  } 
  
  .icon {
    font-size: 25px;
    color: var(--main-color);
  }
  @media screen and (max-width:767px) {
    .inputContainer {
      position: relative;
      width: 100%;
      display: flex;
      margin-top: 20px;
      /* justify-content: space-between; */
      /* align-items: center; */
    }
  }