.after{
    border: 1px solid gray;
    position: relative;
    margin-left: 25px;
  
}
.after::after{
    content: '文章目錄';
    position: absolute;
    top: -11%;
    left: 42%;
    background-image: url('../../../public/background/kodawari_bg_cut.jpg');
}

.pline{
    border-bottom: 1px dashed gray;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.pline2{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
 margin-left: 10px;
}
.container{
    margin-top: 30px;
}
.pline:hover{
    text-decoration: underline;
}
.pline2:hover{
    text-decoration: underline;
}