.nav{
    background-color:transparent;
    background-color: var(--main-color);
    padding: 2px 16px;
    color: white;
    font-size: var(--h5);
    font-weight: bold;
    border: 0;
    margin-top:10px ;
    transition: 0.5s;
    font-family: var(--ff2);
}
 .nav:hover{
    background-color: #6a0202;
} 
.line{
    border-bottom: 2px solid var(--main-color);
    display: flex;
    gap: 10px;
}
@media screen and (max-width:767px) {
    .nav{
    font-size: var(--h7);
    padding: 2px 18px;
    }
    .line{
    margin-top: 80px;
    display: flex;
    border-bottom: 0;
    justify-content: space-between;
}
}