:root {
  --main-color: #911010;
  --sub-color: #FAB3B3;
  --h1: 72px;
  --h2: 48px;
  --h3: 32px;
  --h4: 24px;
  --h5: 20px;
  --h6: 18px;
  --h7: 16px;
  --h8: 14px;
  --h9: 12px;
  --h10: 10px;
  --h11: 8px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/background/kodawari_bg_cut.jpg');
  background-repeat: repeat;
  height: 100%;
}

#__next {
  height: auto;
}

html {
  height: 100%;
}


main {
  min-height: calc(100vh - 360px - 470px);
}