.navbtn:hover {
  background-color: var(--sub-color) !important;
}

.navbtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color) !important;
  overflow: hidden;
  width: 100%;
  height: 60px;
  border-radius: 20px !important;
  transition: 0.3s ease-in-out !important;
}

.navbtn_active {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sub-color) !important;
  overflow: hidden;
  width: 100%;
  height: 60px;
  border-radius: 20px !important;
  transition: 0.3s ease-in-out !important;
}

.choco {
  position: absolute;
  left: 23.5%;
  top: 100px;
  z-index: 1;
}

.big_title {
  width: 80%;
  height: 67%;
}

.big_title_container {
  width: 60%;
  position: relative;
  height: 280px;
  margin-left: 35%;
  margin-right: 5%;
}

.big_title_container>img {
  position: absolute;
  margin-top: 20px;
}

.little_title {
  position: fixed;
  left: 2.34%;
  top: 28.55px;
  width: 9.427%;
  z-index: 10;
}

.cart {
  color: rgb(145, 16, 16);
  position: fixed;
  left: 90.21%;
  top: 23.78px;
  font-size: 48px;
  z-index: 10;
  transition: .3s ease-in-out;
}

.cart:hover {
  color: #fab3b3;
  animation: .5s cart_shake;
}

@keyframes cart_shake {
  0% {
    transform: rotate(8deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  40% {
    transform: rotate(3deg);
  }

  75% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.member_icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid var(--sub-color);
  position: fixed;
  top: 16px;
  left: 94.5%;
  background-image: url('/28a8513919088d3328aaa40284c6b13e.png');
  background-size: cover;
  z-index: 10;
}

.hand_left {
  position: absolute;
  left: 30.5%;
  top: 270px;
  z-index: 3;
}

.hand_right {
  position: absolute;
  left: 35%;
  top: 270px;
  z-index: 3;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 80px;
  position: sticky;
  left: 12.5%;
  top: 10px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 0;
  z-index: 2;
}

.nav_back {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.btn_outer_link {
  text-decoration: none;
  width: 83%;
  margin: 0 2%;
}

.btn_hamburger {
  margin-right: 11.5%;
}

.btn_right_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
}

.btn_text {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin: 0 10% 0 35%;
}

.hamburger {
  position: absolute;
  left: -73px;
  top: -66px;
  transform: scale(0.3);
}

.candy {
  position: absolute;
  left: 0;
  top: -15px;
}

.chips {
  position: absolute;
  left: -83px;
  top: -80px;
  transform: scale(0.3);
}

.bubble_tea {
  position: absolute;
  left: -33px;
  top: -95px;
  transform: scale(0.32);
}

.iconArea {
  width: 120px;
  height: 150px;
  background-color: #fff3e7;
  /* border: 2px solid rgb(117, 117, 117); */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  margin-top: 70px;
  left: -32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 7px;
  padding-top: 5px;
}

/* ----------------RWD---------------- */


@media screen and (max-width: 1700px) {

  .choco {
    position: absolute;
    left:21%;
    top: 103px;
    transform: scale(0.95);
  }

  .little_title {
    transform: scale(0.8);
    left: 10px;
    top: 32px;
  }

  .member_icon {
    height: 50px;
    width: 50px;
    top: 23px;
    left: auto;
    right: 20px;
    z-index: 10;
  }

  .cart {
    transform: scale(0.85);
    left: auto;
    right: 80px;
    top: 26px;
  }

  @keyframes cart_shake {
    0% {
      transform: rotate(8deg) scale(0.85);
    }
  
    20% {
      transform: rotate(-8deg) scale(0.85);
    }
  
    40% {
      transform: rotate(3deg) scale(0.85);
    }
  
    75% {
      transform: rotate(-3deg) scale(0.85);
    }
  
    100% {
      transform: rotate(0deg) scale(0.85);
    }
  }

  .btn_text {
    transform: scale(0.9);
    margin: 0 0 0 50px;
  }

  .navbtn {
    padding: 8px 5px;
  }

  .navbtn_active {
    padding: 8px 5px;
  }

  .hamburger {
    position: absolute;
    left: -85px;
    top: -66px;
    transform: scale(0.25);
  }

  .candy {
    position: absolute;
    left: -5px;
    top: -15px;
    transform: scale(0.9);
  }

  .chips {
    position: absolute;
    left: -95px;
    top: -88px;
    transform: scale(0.25);
  }

  .bubble_tea {
    position: absolute;
    left: -40px;
    top: -95px;
    transform: scale(0.28);
  }

}

@media screen and (max-width: 1440px) {

  .choco {
    position: absolute;
    left:20%;
    top: 106px;
    transform: scale(0.9);
  }
}


@media screen and (max-width: 1240px) {

  .choco {
    position: absolute;
    left: 16%;
    top: 112px;
    transform: scale(0.8);
  }

  .btn_text {
    transform: scale(0.8);
    margin: 0 16px 0 60px;
    line-height: 30px;
  }

  .navbtn {
    padding: 8px 5px;
  }

  .navbtn_active {
    padding: 8px 5px;
  }
}

@media screen and (max-width: 1080px) {
  .btn_text {
    transform: scale(0.8);
    margin: 0 5px 0 50px;
  }

  .navbtn {
    padding: 8px 5px;
  }

  .navbtn_active {
    padding: 8px 5px;
  }

  .little_title {
    visibility: hidden;
  }

  .member_icon {
    height: 45px;
    width: 45px;
    top: 26px;
    left: auto;
    right: 10px;
    z-index: 10;
  }

  .cart {
    transform: scale(0.8);
    left: auto;
    right: 55px;
    top: 26px;
  }

  @keyframes cart_shake {
    0% {
      transform: rotate(8deg) scale(0.8);
    }
  
    20% {
      transform: rotate(-8deg) scale(0.8);
    }
  
    40% {
      transform: rotate(3deg) scale(0.8);
    }
  
    75% {
      transform: rotate(-3deg) scale(0.8);
    }
  
    100% {
      transform: rotate(0deg) scale(0.8);
    }
  }
}

@media screen and (max-width: 900px) {

  .choco {
    position: absolute;
    left:13%;
    top: 115px;
    transform: scale(0.75);
  }

  .btn_text {
    margin: 0 0 0 55px;
  }

  .navbtn {
    padding: 8px 5px;
  }

  .navbtn_active {
    padding: 8px 5px;
  }

  .hamburger {
    position: absolute;
    left: -85px;
    top: -66px;
    transform: scale(0.20);
  }

  .candy {
    position: absolute;
    left: 5px;
    top: -21px;
    transform: scale(0.6);
  }

  .chips {
    position: absolute;
    left: -92px;
    top: -92px;
    transform: scale(0.20);
  }

  .bubble_tea {
    position: absolute;
    left: -40px;
    top: -95px;
    transform: scale(0.25);
  }

  .btn_outer_link {
    margin: 0;
  }

  .btn_hamburger.btn_outer_link {
    margin-right: 11.5%;
  }
}

@media screen and (max-width: 768px) {

  .choco,
  .hand_left,
  .hand_right,
  .big_title_container {
    display: none;
  }

  .btn_outer_link {
    margin: 0 1%;
  }

  .btn_outer_link.btn_hamburger {
    margin-right: 1%;
  }

  .member_icon {
    height: 40px;
    width: 40px;
    top: 18px;
    left: auto;
    right: 20px;
  }

  .cart {
    transform: scale(0.7);
    left: auto;
    right: 65px;
    top: 14px;
  }

  @keyframes cart_shake {
    0% {
      transform: rotate(8deg) scale(0.7);
    }
  
    20% {
      transform: rotate(-8deg) scale(0.7);
    }
  
    40% {
      transform: rotate(3deg) scale(0.7);
    }
  
    75% {
      transform: rotate(-3deg) scale(0.7);
    }
  
    100% {
      transform: rotate(0deg) scale(0.7);
    }
  }

  .little_title {
    visibility: visible;
    left: 10px;
    top: 20px;
    width: 9.427%;
    z-index: 10;
  }

  .nav {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: calc(100vh - 60px);
    border-radius: 0;
    z-index: 60;
    /* padding: 5px 10px; */
  }

  .btn_outer_link {
    margin: 0 1%;
  }

  .btn_hamburger {
    margin-right: 1%;
  }

  .btn_right_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: -5px;
    margin-right: -5px;
  }

  .navbtn {
    padding: 0;
    height: 50px;
    /* width: 80px; */
    border-radius: 10px !important;
  }

  .navbtn_active {
    padding: 0;
    height: 50px;
    /* width: 80px; */
    border-radius: 10px !important;
  }


  .btn_text {
    font-size: var(--h4);
    font-weight: 600;
    color: white;
    z-index: 1;
    background-color: var(--main-color);
    margin: 0 0 0 30%;
    margin-top: auto;
    margin-bottom: 5px;
    padding: 2px 6px 0 6px;
    transition: 0.3s ease-in-out;
    /* transform: scale(0.8); */
  }

  .navbtn_active>.btn_text {
    background-color: var(--sub-color);
  }

  .navbtn:hover .btn_text {
    background-color: var(--sub-color);
  }

  .hamburger {
    position: absolute;
    left: -84px;
    top: -75px;
    transform: scale(0.2);
  }

  .candy {
    position: absolute;
    left: 0;
    top: -28px;
    transform: scale(0.45);
  }

  .chips {
    position: absolute;
    left: -95px;
    top: -100px;
    transform: scale(0.18);
  }

  .bubble_tea {
    position: absolute;
    left: -40px;
    top: -100px;
    transform: scale(0.18);
  }
}



@media screen and (max-width: 710px) {
  .btn_text {
    margin: 0 10% 5px 40%;
    transform: scale(0.7);
  }
}

@media screen and (max-width: 576px) {

  .btn_text {
    margin: 0 0 5px 40%;
    transform: scale(0.55);
  }

  .chips {
    left: -105px;
  }

  .hamburger {
    left: -95px;
  }

  .bubble_tea {
    left: -45px;
  }

  .candy {
    left: -10px;
  }
}

@media screen and (max-width: 468px) {

  .little_title {
    left: 0px;
    top: 20px;
    width: 9.427%;
    z-index: 10;
  }

  .nav {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: calc(100vh - 60px);
    border-radius: 0;
    z-index: 60;
    /* padding: 5px 10px; */
  }

  .btn_outer_link {
    margin: 0 1%;
  }

  .btn_hamburger {
    margin-right: 1%;
  }

  .btn_right_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: -5px;
    margin-right: -5px;
  }

  .navbtn {
    padding: 0;
    height: 50px;
    /* width: 80px; */
    border-radius: 10px !important;
  }

  .navbtn_active {
    padding: 0;
    height: 50px;
    /* width: 80px; */
    border-radius: 10px !important;
  }


  .btn_text {
    font-size: var(--h7);
    font-weight: 600;
    color: white;
    margin: 0;
    z-index: 1;
    background-color: var(--main-color);
    margin-top: auto;
    margin-bottom: -8px;
    padding: 2px 15% 0 15%;
    transition: 0.3s ease-in-out;
  }

  .navbtn_active>.btn_text {
    background-color: var(--sub-color);
  }

  .navbtn:hover .btn_text {
    background-color: var(--sub-color);
  }

  .hamburger {
    position: absolute;
    left: auto;
    margin: auto;
    top: -80px;
    transform: scale(0.15);
  }

  .candy {
    position: absolute;
    left: auto;
    top: -30px;
    margin: auto;
    transform: scale(0.45);
  }

  .chips {
    position: absolute;
    left: auto;
    top: -100px;
    margin: auto;
    transform: scale(0.16);
  }

  .bubble_tea {
    position: absolute;
    left: auto;
    top: -110px;
    margin: auto;
    transform: scale(0.18);
  }
}

@media screen and (max-width: 428px) {
  .btn_text {
    font-size: var(--h9);
  }
}